<app-menu></app-menu>

  <ion-toolbar>
    <ion-title>
      Formulario de Solicitud
    </ion-title>
  </ion-toolbar>


<ion-content>
  <ion-list>
    <!-- <ion-item>
      <ion-label position="floating">ID Solicitud</ion-label>
      <ion-input type="text" [(ngModel)]="idSol"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input type="text" [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-select [(ngModel)]="estado">
        <ion-select-option value="1">Pendiente</ion-select-option>
        <ion-select-option value="2">Aprobado</ion-select-option>
        <ion-select-option value="3">Declinado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" (click)="enviarDatos()">Enviar Datos</ion-button>
  </ion-list>
</ion-content>