<app-menu></app-menu>
<div style="text-align: center;">
  <h1 style="align-items: center;">Crear Una Solicitud</h1>
</div>

  
  <ion-content class="ion-padding">
    <form [formGroup]="formularioSolicitudesAdmin" (ngSubmit)="enviarDatosSolicitud()">
      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input formControlName="titulo"  type="text"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea formControlName="descripcion"></ion-textarea>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Presupuesto</ion-label>
        <ion-input formControlName="presupuesto" type="number"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Fecha de petición</ion-label>
        <ion-input formControlName="fechaPeticion" type="date"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Estado de la solicitud</ion-label>
        <ion-select >
          <ion-select-option [disabled]="false" value="1">pendiente</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
    </form>
    <br>
<br>

<div style="height: 300px; align-items: center;">
  <ion-button style="width: 170px;" color="success" type="submit">GUARDAR</ion-button>
  
  <ion-button  style="width: 170px; " color="danger" (click)="Salir()"  >CANCELAR</ion-button>

</div>
    
  </ion-content>
