<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="centro">
    <img src="assets/img/LogoMrecicla.png" alt="Descripción de la imagen">
  </div>

  <form [formGroup]="formularioLogin" (ngSubmit)="enviarDatos()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" formControlName="Correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="Pass"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
  </form>
</ion-content>
