<app-menu></app-menu>

<h1 style="text-align: center;">Tiempos de producción</h1>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">ID</ion-col>
      <ion-col size="3">Hora inicio</ion-col>
      <ion-col size="3">Hora fin</ion-col>
      <ion-col size="4">Action</ion-col>
    </ion-row> 

    <ion-row *ngFor="let horario of horarios">
      <ion-col size="2">{{ horario.idArea }}</ion-col>
      <ion-col size="3">{{ horario.HoraInicio }}</ion-col>
      <ion-col size="3">{{ horario.HoraFin }}</ion-col>
      <ion-col size="4">
        <!-- <ion-button expand="block" color="primary" (click)="irtiemposeditar()"><ion-icon name="create-outline"></ion-icon></ion-button> -->
        <ion-button color="danger" expand="block" id="present-alert"><ion-icon name="trash-bin-outline"></ion-icon></ion-button>
        <ion-alert trigger="present-alert" class="" header="¿Seguro que deseas eliminar este registro?" [buttons]="
        "></ion-alert>
        <!-- <ion-button expand="block" color="danger" >Eliminar</ion-button> -->
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>
  


<div style="height: 75px; width:100px; left: 10px;" class="">
  <!-- <a [routerLink]="['/dashboard/produccion-empleado/produccionEmpleado']"> -->
    <div class="card bg-c-yellow order-card">
        <!-- <div class="card-block" (click)="irtiemposcrear()">
            <p class="m-b-0 title-card">Registrar tiempos</p>
        </div> -->
        <ion-fab slot="fixed" vertical="bottom" horizontal="start">
          <ion-fab-button>
            <ion-icon name="chevron-up-circle"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button>
              <ion-icon name="add-outline" (click)="irtiemposcrear()"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="globe"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
    </div>
  <!-- </a> -->
  </div>