
<app-menu ></app-menu>

<ion-grid>
  <ion-row>
    <ion-col><ion-button  style="height: 150px; width:430px; " >INVENTARIO ENTRADA</ion-button>
    </ion-col>
    <ion-col> <ion-button  style="height: 150px; width:430px;" >INVENTARIO SALIDA</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col> <ion-button style="height: 150px; width:430px; ">USUSARIOS GENERALES</ion-button>
    </ion-col>
    <ion-col> <ion-button style="height: 150px; width:430px; ">TIEMPOS DE PRODUCCION</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


