<app-menu></app-menu>
<div style="text-align: center;">
  <h1 style="align-items: center;">Solicitud</h1>
</div>
<ion-grid style="height: 900;">
  <ion-row style="height: 900;">
    <ion-col>
      <ion-input  type="text" label="Agujas" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input type="text" label="se requiere comprar paquetes de agujas para la maquina ya que presenta ruptura de gancho" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- <ion-input  label="Prodcuto producido" label-placement="floating" fill="outline" placeholder=""></ion-input> -->
      <ion-item>
        <ion-select style="height: 55px;" placeholder="pendiente">
          <ion-select-option value="TELA">rechazar</ion-select-option>
          <ion-select-option value="HILO">aceptar</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
<br>
<br>
<ion-row>
  <ion-col>
    <ion-button style="width: 170px;" color="success">GUARDAR</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button style="width: 170px;" color="danger" (click)="regresar()">CANCELAR</ion-button>
  </ion-col>
</ion-row>
</ion-grid>