<app-menu></app-menu>
<div style="text-align: center;">
  <h1 style="align-items: center;">Solicitud</h1>
</div>
 
<ion-grid style="height: 500px; overflow-y: auto;">
  <ion-row style="height: 900;">
    <ion-col>
      <h1>Titulo</h1>
      <ion-item>
        <ion-textarea
          [disabled]="true"
          placeholder="Type something here"
          [autoGrow]="true"
          value="Agujas">
        </ion-textarea>
      </ion-item>   
     </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1>Descripción</h1>
      <!-- <ion-input type="text" label="" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input> -->
      <ion-item>
        <ion-textarea
          [disabled]="true"
          placeholder="Type something here"
          [autoGrow]="true"
          value="se requiere comprar paquetes de agujas para la maquina ya que presenta ruptura de gancho,se requiere comprar paquetes de agujas para la maquina ya que presenta ruptura de gancho">
        </ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1>Costo</h1>
      <!-- <ion-input type="text" label="" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input> -->
      <ion-item>
        <ion-textarea
        [disabled]="true"
        placeholder="Type something here"
        [autoGrow]="true"
        value="2000">
      </ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1>Estado</h1>
      <!-- <ion-input  label="Prodcuto producido" label-placement="floating" fill="outline" placeholder=""></ion-input> -->
      <ion-item>
        <ion-select style="height: 55px;" placeholder="pendiente">
          <ion-select-option value="TELA">rechazar</ion-select-option>
          <ion-select-option value="HILO">aceptar</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <br>
  <br>
  <ion-row>
    <ion-col>
      <ion-button style="width: 170px;" color="success">GUARDAR</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button style="width: 170px;" color="danger" (click)="regresar()">CANCELAR</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>