<ion-menu contentId="main-content" side="start" menuId="first" contentId="principal" >
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div> <ion-button expand="block" color="primary">INICIO</ion-button></div>
  <br>
    <ion-button expand="block" color="primary">CATALOGOS</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
  
  

  </ion-content>
</div>