<ion-menu contentId="main-content" menuId="first" animated="false" >
  <ion-header>
    <ion-toolbar >
      <ion-title>Administrador</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content  class="ion-padding">
    <div > <a [routerLink]="['/header']"> <ion-button  expand="block">INICIO</ion-button></a></div>
  <br>
    <ion-button expand="block" color="primary" (click)="irCat()">CATALOGOS</ion-button>
  </ion-content>
  <ion-button expand="block" color="primary" (click)="irlogin()">Cerrar sesión</ion-button>
</ion-menu>
<div id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button >  
        </ion-menu-button>
      </ion-buttons>
      <ion-title>
       
      </ion-title>
    </ion-toolbar>
    
  </ion-header>

  
</div>