<app-menu></app-menu>
<div style="text-align: center;">
  <h1  style="align-items: center; color: aliceblue;">CATALOGOS</h1>
</div>
<ion-grid style="height: 900;">
  <ion-row style="height: 900;">
    <ion-col>
      <div style="height: 110px; width:200px;" class="col-md-4 col-xl-3" >
        <!-- <a [routerLink]="['/dashboard/inventario/inventarios']" > -->
          <div  class="card bg-c-pink order-card">
              <div class="card-block">
                  <h2 class="text-right"><ion-icon name="business-outline"></ion-icon><span></span></h2>
                  <p class="m-b-0 title-card">Areas Generales</p>
              </div>
          </div>
        <!-- </a> -->
      </div>
      <br>
    </ion-col>
    <ion-col>
      <div style="height: 110px; width:200px;" class="col-md-4 col-xl-3" >
        <!-- <a [routerLink]="['/dashboard/inventario/inventarioSalida']" >  -->
          <div class="card bg-c-purple order-card">
              <div class="card-block">
                  <h2 class="text-right"><ion-icon name="construct-outline"></ion-icon><span></span></h2>
                  <p class="m-b-0 title-card">Maquinaria General</p>
              </div>
          </div>
        <!-- </a> -->
      </div>
      <br>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <div style="height: 110px; width:200px;" class="col-md-4 col-xl-3">
        <!-- <a [routerLink]="['/dashboard/produccion-empleado/produccionEmpleado']"> -->
          <div class="card bg-c-yellow order-card">
              <div class="card-block">
                  <h2 class="text-right"><ion-icon name="documents-outline"></ion-icon></h2>
                  <p class="m-b-0 title-card">Inventario Insumos</p>
              </div>
          </div>
        <!-- </a> -->
        </div>
        <br>
    </ion-col>
    <ion-col>
      <div  style="height: 110px; width:200px;" class="col-md-4 col-xl-3">
        <!-- <a [routerLink]="['/dashboard/produccion/produccionList']"> -->
          <div class="card bg-c-blue order-card">
            <div class="card-block">
              <h2 class="text-right"><ion-icon name="documents-outline"></ion-icon><span></span></h2>
              <p class="m-b-0 title-card">Invetario Produccion</p>
            </div>
          </div>
        <!-- </a> -->
      </div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <div style="height: 110px; width:200px;" class="col-md-4 col-xl-3">
        <!-- <a [routerLink]="['/dashboard/produccion-empleado/produccionEmpleado']"> -->
          <div class="card bg-c-green order-card">
              <div class="card-block">
                  <h2 class="text-right"><ion-icon name="storefront-outline"></ion-icon></h2>
                  <p class="m-b-0 title-card">Proveedores Generales</p>
              </div>
          </div>
        <!-- </a> -->
        </div>
        <br>
    </ion-col>
    <ion-col>
      <div  style="height: 110px; width:200px;" class="col-md-4 col-xl-3">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
