<app-menu scrollX="true" scrollY="false"></app-menu>
<ion-content >

<div style="text-align: center;">
  <h1 style="align-items: center;">Registro de tiempos </h1>
</div>


<ion-grid style="height: 900;">
  <div>
    <ion-row style="height: 900;">
      <ion-col>
        <ion-item>
          <ion-select style="height: 55px;" placeholder="Maquina">
            <ion-select-option value="ROMPEDORA">ROMPEDORA</ion-select-option>
            <ion-select-option value="CIRCULARES">CIRCULAR 1</ion-select-option>
            <ion-select-option value="CIRCULARES">CIRCULAR 2</ion-select-option>
            <ion-select-option value="CIRCULARES">CIRCULAR 3</ion-select-option>
            <ion-select-option value="CIRCULARES">CIRCULAR 4</ion-select-option>
            <ion-select-option value="OPEN">OPEN</ion-select-option>
          </ion-select>
        </ion-item>    
        </ion-col>
      <ion-col>
        <!-- <ion-input  label="Insumo" label-placement="floating" fill="outline" placeholder="Ingresar insumo"></ion-input> -->
        <ion-item>
          <ion-select style="height: 55px;" placeholder="Tipo de proceso">
            <ion-select-option value="ROLLO DE TELA">ROLLO DE TELA</ion-select-option>
            <ion-select-option value="ROMPER TELA">ROMPER TELA</ion-select-option>
            <ion-select-option value="DESFIBRAR TELA ROTA">DESFIBRAR TELA ROTA</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Hora de inicio</ion-label>
          <ion-input type="time" formControlName="horaInicio" label-placement="floating" fill="outline" placeholder="Ingrese la hora"></ion-input>
        </ion-item>      
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label position="floating">Hora de fin</ion-label>
        <ion-input type="time" formControlName="horaInicio" label-placement="floating" fill="outline" placeholder="Ingrese la hora"></ion-input>
       </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!botonHabilitado3"  (click)="toggleBoton3()" (click)="registrarInicio()" style="width: 120px;" color="success" >Apuntar hora</ion-button>
      
        <ion-button [disabled]="botonHabilitado3"  (click)="toggleBoton3()" (click)="registrarSalida()" style="width: 120px;" color="danger" >Apuntar hora</ion-button>
     
        <ion-button  style="width: 120px;" color="warning" (click)="irtiemposincidencias()">INCIDENCIAS</ion-button>
      </ion-col>
    </ion-row>
    <!--  -->
    <ion-row style="height: 900;">
      <ion-col>
        <ion-item>
          <ion-select style="height: 55px;" placeholder="Maquina">
            <ion-select-option value="ROMPEDORA">ROMPEDORA</ion-select-option>
            <ion-select-option value="CIRCULARES">CIRCULAR 1</ion-select-option>
            <ion-select-option value="CIRCULARES 2">CIRCULAR 2</ion-select-option>
            <ion-select-option value="CIRCULARES 3">CIRCULAR 3</ion-select-option>
            <ion-select-option value="CIRCULARES 4">CIRCULAR 4</ion-select-option>
            <ion-select-option value="OPEN">OPEN</ion-select-option>
          </ion-select>
        </ion-item>    
        </ion-col>
      <ion-col>
        <!-- <ion-input  label="Insumo" label-placement="floating" fill="outline" placeholder="Ingresar insumo"></ion-input> -->
        <ion-item>
          <ion-select style="height: 55px;" placeholder="Tipo de proceso">
            <ion-select-option value="ROLLO DE TELA">ROLLO DE TELA</ion-select-option>
            <ion-select-option value="ROMPER TELA">ROMPER TELA</ion-select-option>
            <ion-select-option value="DESFIBRAR TELA ROTA">DESFIBRAR TELA ROTA</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Hora de inicio</ion-label>
          <ion-input type="time" formControlName="horaInicio" label-placement="floating" fill="outline" placeholder="Ingrese la hora"></ion-input>
        </ion-item>      
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label position="floating">Hora de fin</ion-label>
        <ion-input type="time" formControlName="horaInicio" label-placement="floating" fill="outline" placeholder="Ingrese la hora"></ion-input>
       </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!botonHabilitado2"  (click)="toggleBoton2()" style="width: 120px;" color="success" >Apuntar hora</ion-button>
      
        <ion-button [disabled]="botonHabilitado2"  (click)="toggleBoton2()" style="width: 120px;" color="danger" >Apuntar hora</ion-button>
     
        <ion-button  style="width: 120px;" color="warning" (click)="Salir()">Incidencias</ion-button>
      </ion-col>
    </ion-row>
    
  </div>

  <ion-row style="height: 900;">
    <ion-col>
      <ion-item>
        <ion-select style="height: 55px;" placeholder="Maquina">
          <ion-select-option value="ROMPEDORA">ROMPEDORA</ion-select-option>
          <ion-select-option value="CIRCULARES">CIRCULAR 1</ion-select-option>
          <ion-select-option value="CIRCULARES">CIRCULAR 2</ion-select-option>
          <ion-select-option value="CIRCULARES">CIRCULAR 3</ion-select-option>
          <ion-select-option value="CIRCULARES">CIRCULAR 4</ion-select-option>
          <ion-select-option value="OPEN">OPEN</ion-select-option>
        </ion-select>
      </ion-item>    
      </ion-col>
    <ion-col>
      <!-- <ion-input  label="Insumo" label-placement="floating" fill="outline" placeholder="Ingresar insumo"></ion-input> -->
      <ion-item>
        <ion-select style="height: 55px;" placeholder="Tipo de proceso">
          <ion-select-option value="ROLLO DE TELA">ROLLO DE TELA</ion-select-option>
          <ion-select-option value="ROMPER TELA">ROMPER TELA</ion-select-option>
          <ion-select-option value="DESFIBRAR TELA ROTA">DESFIBRAR TELA ROTA</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Hora de inicio</ion-label>
        <ion-input type="time" formControlName="horaInicio" label-placement="floating" fill="outline" placeholder="Ingrese la hora"></ion-input>
      </ion-item>      
    </ion-col>
    
    <ion-col>
      <ion-item>
      <ion-label position="floating">Hora de fin</ion-label>
      <ion-input type="time" formControlName="horaInicio" label-placement="floating" fill="outline" placeholder="Ingrese la hora"></ion-input>
     </ion-item>
    </ion-col>
 
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button  [disabled]="!botonHabilitado"  (click)="toggleBoton()" style="width: 120px;" color="success" >Apuntar hora</ion-button>
    
      <ion-button [disabled]="botonHabilitado"  (click)="toggleBoton()" style="width: 120px;" color="danger" >Apuntar hora</ion-button>
   
      <ion-button  style="width: 120px;" color="warning" (click)="Salir()">Incidencias</ion-button>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Usuario 1</ion-label>
        <ion-input  type="text" formControlName="" label-placement="floating" fill="outline" placeholder="" selectedText="Operdador 1" disabled="true"></ion-input>
       </ion-item>
    </ion-col>
  </ion-row>

<br>
<br>
<ion-row>

  <ion-col>
    <ion-button color="success" expand="block" id="present-alert">GUARDAR  </ion-button>
    <ion-alert trigger="present-alert" class="" header="¿Seguro que deseas eliminar este registro?" [buttons]="alertButtons" ></ion-alert>
    </ion-col>
<ion-col>
  <ion-button color="danger" expand="block" id="present-alert" (click)="Salir()">Terminar registros </ion-button>
  <ion-alert trigger="present-alert" class="" header="¿Seguro que deseas eliminar este registro?" [buttons]="alertButtons" ></ion-alert>
  <!-- <ion-button expand="block" color="danger" >Eliminar</ion-button> --> 
</ion-col>
  <!-- <ion-col>
    <ion-button  style="width: 170px;" color="danger" >CANCELAR</ion-button>
  </ion-col> -->

</ion-row>
</ion-grid>

  
</ion-content>