<app-menu></app-menu>

<h1 style="text-align: center;">SOLICITUDES</h1>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1">ID</ion-col>
      <ion-col size="4">titulo</ion-col>
      <ion-col size="3">Estado</ion-col>
      <ion-col size="4">Action</ion-col>
    </ion-row> 

    <ion-row *ngFor="let solicitud of Solicitudes">
      <ion-col size="1">{{ solicitud.idSol }}</ion-col>
      <ion-col size="4">{{ solicitud.titulo }}</ion-col>
      <ion-col size="3">{{ solicitud.estado }}</ion-col>
      <ion-col size="4">
        <ion-button expand="block" color="primary" (click)="abrirPantallaDetalle(solicitud.idSol)"  >Ver Solicitud</ion-button>
        <ion-button color="danger" expand="block" id="present-alert">ELIMINAR</ion-button>
        <ion-alert trigger="present-alert" class="" header="¿Seguro que deseas eliminar este registro?" [buttons]="alertButtons"></ion-alert>
        <!-- <ion-button expand="block" color="danger" >Eliminar</ion-button> -->
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>
<div style="height: 75px; width:100px; left: 10px;" class="">
  <!-- <a [routerLink]="['/dashboard/produccion-empleado/produccionEmpleado']"> -->
    <div class="card bg-c-yellow order-card">
        <!-- <div class="card-block" (click)="irtiemposcrear()">
            <p class="m-b-0 title-card">Registrar tiempos</p>
        </div> -->
        <ion-fab slot="fixed" vertical="bottom" horizontal="start">
          <ion-fab-button>
            <ion-icon name="chevron-up-circle"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button>
              <ion-icon name="add-outline" (click)="SolicitudesCrear()" ></ion-icon>
            </ion-fab-button>
            <!-- <ion-fab-button>
              <ion-icon name="globe"></ion-icon>
            </ion-fab-button> -->
          </ion-fab-list>
        </ion-fab>
    </div>
  <!-- </a> -->
  </div>
